<div class="category-drinks-container">
  <header>
    <div class="header-controls">
      <app-back-button />
      <h1>Drinks {{ categoryName() }}</h1>
    </div>

    <app-search-bar
      [value]="searchTerm()"
      [placeholder]="'Procurar drink...'"
      (valueChange)="onSearch($event)"
    />
  </header>

  <div class="glassy-card">
    <div class="cards-grid">
      @if (filteredDrinks().length > 0) { @for (drink of filteredDrinks(); track drink.title) {
      <app-card-item [data]="drink" (cardClick)="onDrinkClick($event)" />
      } } @else {
      <div class="no-results">
        <p>Nenhum drink encontrado nesta categoria.</p>
      </div>
      }
    </div>
  </div>
</div>
